.portfolio {
  color: black;
  padding-top: .1rem;
  background-color: white;
  display: block;
  margin-top: -1.2rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-bottom: 22rem;
  border-top: .1rem solid grey;
  border-bottom: .1rem solid grey;
    @media (min-width: 530px)  {
      color: #F5F5ED;
      background-color: #2A2A2A;
        margin-bottom: 0;
    }

&-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}
&-social-media {
  text-align: center;
  margin: 3rem 5% 3rem 5%;
@media (min-width: 530px) {
  margin: 3rem 25% 3rem 25%;
}


& img {
  width: 40%;
  min-width: 50px;
  height: 40%;
  min-width: 50px;
}
}

  &-caption {
    text-align: center;
      margin-bottom: 3rem;
    @media (min-width: 530px) {
    margin-bottom: none;
    }

    &-title {
      text-align: center;
      text-decoration: underline;
      color: black;
      @media (min-width: 530px)  {
        color: #F5F5ED;
}
    }
  }

&-image-container {
  margin-left: 1.5rem;

  &:last-of-type {
    margin-right: 1.5rem;
}
}


    & img {
      height: 100%;
      width: 100%;
    }

    &-margin-top {
      margin-top: 4rem;
        @media (min-width: 530px) {
      margin-top: 8rem;
    }
    }
&-margin-bottom {
  margin-bottom: 10rem;
  display: block;
}
}
