* {
font-family: 'Exo 2', sans-serif;
  margin: none;
}

html {
  background-color: black;
}

body {
  background: url(/assets/images/background1.jpg) fixed;
  background-size: 100% 100%;
  @media (max-width: 530px) {
    background: url(/assets/images/background1-small.jpg) fixed;
    background-size: 100% 100%;

  }

}

.img-circle {
  border-radius: 50%;
  border: .1rem solid #342618;
}
