.contact {
  color: #F5F5ED;
  text-shadow: 1px 1px black;
  background-size: cover;
  margin-left: -.5rem;
  margin-right: -.5rem;
  background: url(/assets/images/contact-background2-small.jpg) fixed;
  background-size: cover;

    @media (min-width: 530px)  {
  background: url(/assets/images/contact-background2.jpg) fixed;
  background-size: cover;
}


  &-btn {
  margin-left: 48.5%;
}

  & input {
    width:60%;
  }

  & textarea {
    width: 60%;
    border: none;
  }

  &-margin-top {
    margin-top: 4rem;
  }

  &-wrapper {
    padding: .5rem 2rem .5rem 2rem;
  }

  &-subheading {
    text-align: center;
    font-size: 1rem;
      @media (min-width: 530px) {
        font-size: 1.6rem;
      }


  }

  &-left-margin-fix {
    margin-left: 19.5%;
    margin-right: 20.4%;

  }

&-field-center {
  padding-left: auto;
  padding-right: auto;
  display: block;
}
&-fieldset {
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
    @media (min-width: 530px) {
        width: 60%;
    }
}
}
