.row {

  &::after {
    content: "";
    clear: both;
    display: table;
   }

   &-3 {
     float: left;
     width: 25%;
   }

  &-4 {
    float:left;
    width: 100%;
    @media (min-width: 530px) {
    width: 33.3%;
}
    &::after {
      content: "";
      clear: both;
      display: table;
     }
  }
}
